.bg-footer {
    background-color: #232323;
    padding: 35px 0 30px;
    height: auto;
}

.footer-link a {
    color: #fc8181;
    line-height: 30px;
    font-size: 14px;
    transition: all 0.5s;
}

.footer-link a:hover {
    color: #acacac;
}

.contact-info {
    color: #acacac;
    font-size: 14px;
}

.footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
}

.footer-alt {
    color: #acacac;
}

.footer-heading {
    position: relative;
    padding-bottom: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif !important;
    font-size: 13px;
    color: #6f6e6f;
}

.footer-heading:after {
    content: '';
    width: 25px;
    border-bottom: 1px solid #FFF;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #fc8181;
}

.cash_cards {
    font-size: 45px;
    width: 12%;
    margin: auto;
    color: #aaaaaa;
    display: flex;
    justify-content: space-between;
}

.footer_feature_img {
    width: 180px
}