
/* Social Icons */
.social-icons {
    display: flex;
  }
  
  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
  }

  /*-------------------------------
Tooltipp function
---------------------------------*/  

  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -150%);
  }
  .social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }

  .social-icon--linkedin .tooltip {
    background: #006599;
    color: currentColor;
  }
  .social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
  }
  .social-icon--youtube .tooltip {
    background: #FF0000;
    color: currentColor;
  }
  .social-icon--youtube .tooltip:after {
    border-top-color: #FF0000;
  }
  .social-icon--twitter .tooltip {
    background: #2b97f1;
    color: currentColor;
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #2b97f1;
  }

  .social-icon--facebook .tooltip {
    background: #3b5a9b;
    color: currentColor;
  }
  .social-icon--facebook .tooltip:after {
    border-top-color: #3b5a9b;
  }

  .social-icon--instagram .tooltip {
    background: #5851DB;
    color: currentColor;
  }
  .social-icon--instagram .tooltip:after {
    border-top-color: #5851DB;
  }
  .social-icon i {
    position: relative;
    top: 1px;
    color: #aaaaaa;
  }
  
  /* Tooltips */
  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.4rem 0.7rem;
    border-radius: 40px;
    font-size: 0.7rem !important;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    transform: translate(-50%, -100%);
    transition: all 0.3s ease;
    z-index: 1;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    /* border-width: 10px 10px 0 10px; */
    border-color: transparent;
    transform: translate(-50%, 100%);
  }